.slideshow {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	background-color: transparent;
	height: 100%;
	min-height: 500px;
}
.slideshow_inner {
	position: relative;
	width: 100%;
	height: 100%;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: center;
}
.slideshow_cancel {
	position: absolute;
	top: 10px;
	color: var(--clr-white);
	z-index: 6;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
.fullscreen {
	background-color: var(--clr-main);
	color: var(--clr-white);
	border: 0;
	font-size: 0.95rem;
	font-weight: 600;
	padding: 10px 30px;
	border-radius: calc(var(--border-radius) / 2.5);
	cursor: pointer;
	transition: var(--ef-trans);
}
.fullscreen:hover {
	background-color: var(--clr-main-hover);
}
.animatep {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
}
.slideshow_inner img {
	position: absolute;
	width: 100%;
	z-index: 1;
	height: 100%;
	object-fit: contain;
}
.animatep h1 {
	top: 5px;
	z-index: 5;
	font-weight: 700;
	position: absolute;
	font-size: 3rem;
	color: var(--clr-white);
	display: flex;
	z-index: 999;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
	word-break: break-all;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.613);
}
.animatep span {
	bottom: 5px;
	position: absolute;
	font-weight: 600;
	color: var(--clr-white);
	font-size: 1.6rem;
	background-color: rgba(0, 0, 0, 0.613);
	word-break: break-all;
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	z-index: 999;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 10px;
}
.main {
	position: relative;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
}
.qr {
	position: absolute;
	z-index: 999;
	right: 10px;
	padding: 10px;
	border-radius: 10px;
	bottom: 10px;
	background-color: white;
}
@media only screen and (max-width: 1150px) {
	.qr {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.animatep {
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	.slideshow_inner img {
		position: absolute;
		width: 95%;
		height: 75%;
		object-fit: contain;
	}
	.next,
	.prev {
		width: 40px;
		height: 40px;
		bottom: 10px;
		top: unset;
	}
	.next {
		right: calc(50% - 45px);
	}
	.prev {
		left: calc(50% - 45px);
	}
}
@media only screen and (max-width: 500px) {
	.img {
		height: 320px;
		width: 250px;
		position: relative;
		pointer-events: none;
	}
}

.innerdiv {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.innerdiv img {
	position: absolute;
	left: 0;
	top: 0;
}
.innerdiv h1 {
	top: 5px;
	left: 50%;
	transform: translate(-50%);
}
.innerdiv span {
	bottom: 5px;
	left: 50%;
	transform: translate(-50%);
	z-index: 3;
}
